__pycache__/
*.py[cod]
.venv/
.venv-*/
venv/
.env
.env.*
!.env.example
.aws/
*.sqlite3
*.sqlite3-*
.pytest_cache/
.ruff_cache/
.mypy_cache/
dist/
build/
*.egg-info/
out/
.aws-sam/
.DS_Store
.idea/
.vscode/
